extends layout

block content
    <div class="card">
        <h2 class="card-header">#{resources.name}</h2>
        <div class="card-body">
            <p class="card-text">#{resources.description}</p>
            <a href="#{resources.link}" class="btn btn-primary">Link</a>
            <br>
            <br>
            <p class="card-text">#{resources.description1}</p>
            <a href="#{resources.link1}" class="btn btn-primary">Link</a>
        </div>
        <div class="card-footer text-muted">
            |#{resources.date}
        </div>
    </div>
        